# Data Wrangling Template

## Gather

In [7]:
import zipfile
import pandas as pd

In [6]:
# Extract all contents from zip file
with zipfile.ZipFile('armenian-online-job-postings.zip', 'r') as myzip:
    myzip.extractall()

In [12]:
# Read CSV (comma-separated) file into DataFrame
df = pd.read_csv('online-job-postings.csv')

## Assess

In [13]:
df.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15109 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9622 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

- Missing values (NaN)
- StartDate inconsistencies (ASAP)
- Nondescriptive column headers (ApplicationP, AboutC, RequiredQual ... and also JobRequirment)

## Clean
#### Define

- Select all nondescriptive and misspelled column headers (ApplicationP, AboutC, RequiredQual, JobRequirment) and replace them with full words (ApplicationProcedure, AboutCompany, RequiredQualifications, JobRequirement)
- Select all records in the StartDate column that have "As soon as possible", "Immediately", etc. and replace the text in those cells with "ASAP"

#### Code

In [74]:
df_clean = df.rename(columns={'JobRequirment': 'JobRequirements',
                   'ApplicationP': 'ApplicationProcedure',
                   'AboutC': 'AboutCompany',
                   'RequiredQual': 'RequirementQualification'}, inplace=False)
df_clean.columns

Index(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirements', 'RequirementQualification',
       'Salary', 'ApplicationProcedure', 'OpeningDate', 'Deadline', 'Notes',
       'AboutCompany', 'Attach', 'Year', 'Month', 'IT'],
      dtype='object')

In [75]:
df_clean.StartDate.value_counts()

ASAP                                                                            4754
Immediately                                                                      773
As soon as possible                                                              543
Upon hiring                                                                      261
Immediate                                                                        259
Immediate employment                                                             140
As soon as possible.                                                              32
01 September 2012                                                                 31
March 2006                                                                        27
November 2006                                                                     22
January 2010                                                                      19
Immediate job opportunity                                                         17
01 February 2005                                                                  17
February 2014                                                                     17
September 2010                                                                    16
TBD                                                                               16
February 2011                                                                     16
September 2008                                                                    15
March 2011                                                                        15
February 2007                                                                     14
01 July 2014                                                                      14
01 February 2015                                                                  14
01 March 2006                                                                     13
01 September 2010                                                                 13
01 September 2008                                                                 13
January 2016                                                                      13
01 October 2008                                                                   12
June 2008                                                                         12
Fall 2010                                                                         12
September 2013                                                                    12
                                                                                ...
22 July 2013                                                                       1
End of May 2006                                                                    1
06 & 07 October 2005, at 18:30                                                     1
09 August 2010                                                                     1
Mid January 2012                                                                   1
Second half of March, 2007                                                         1
15 July 2006                                                                       1
15 March 2009                                                                      1
10 January 2014                                                                    1
20 February 2012                                                                   1
20 August 20006                                                                    1
02 November 2009                                                                   1
June/ July                                                                         1
10 July 2005                                                                       1
28 November 2007                                                                   1
As agreed with the trainer                                                         1
23 October 2014                                                                    1
Wednesday, 6 April 2011 at 10:00 a.m. (Registration\r\nstarts at 09:30 a.m.)       1
20 February 2013                                                                   1
March/ April 2014                                                                  1
June 2014 (expected)                                                               1
16 October 2006                                                                    1
14 July 2014                                                                       1
13 May 2005, at 14.00                                                              1
October 1, 2008                                                                    1
01 October  2005                                                                   1
08 July 2013                                                                       1
01 January 2013                                                                    1
01 May 2012                                                                        1
02\r\nNovember 201                                                                 1
Name: StartDate, Length: 1186, dtype: int64

In [76]:
asap_list = ['Immediately', 'As soon as possible', 'Upon hiring',
             'Immediate', 'Immediate employment', 'As soon as possible.', 'Immediate job opportunity',
             '"Immediate employment, after passing the interview."',
             'ASAP preferred', 'Employment contract signature date',
             'Immediate employment opportunity', 'Immidiately', 'ASA',
             'Asap', '"The position is open immediately but has a flexible start date depending on the candidates earliest availability."',
             'Immediately upon agreement', '20 November 2014 or ASAP',
             'immediately', 'Immediatelly',
             '"Immediately upon selection or no later than November 15, 2009."',
             'Immediate job opening', 'Immediate hiring', 'Upon selection',
             'As soon as practical', 'Immadiate', 'As soon as posible',
             'Immediately with 2 months probation period',
             '12 November 2012 or ASAP', 'Immediate employment after passing the interview',
             'Immediately/ upon agreement', '01 September 2014 or ASAP',
             'Immediately or as per agreement', 'as soon as possible',
             'As soon as Possible', 'in the nearest future', 'immediate',
             '01 April 2014 or ASAP', 'Immidiatly', 'Urgent',
             'Immediate or earliest possible', 'Immediate hire',
             'Earliest  possible', 'ASAP with 3 months probation period.',
             'Immediate employment opportunity.', 'Immediate employment.',
             'Immidietly', 'Imminent', 'September 2014 or ASAP', 'Imediately']

for asap in asap_list:
    df_clean.StartDate.replace( to_replace=asap, value='ASAP', inplace=True)

In [77]:
df_clean.StartDate.value_counts()

ASAP                                                                            6856
01 September 2012                                                                 31
March 2006                                                                        27
November 2006                                                                     22
January 2010                                                                      19
February 2014                                                                     17
01 February 2005                                                                  17
February 2011                                                                     16
TBD                                                                               16
September 2010                                                                    16
September 2008                                                                    15
March 2011                                                                        15
February 2007                                                                     14
01 February 2015                                                                  14
01 July 2014                                                                      14
01 September 2008                                                                 13
01 March 2006                                                                     13
January 2016                                                                      13
01 September 2010                                                                 13
01 October 2008                                                                   12
September 2013                                                                    12
June 2008                                                                         12
Fall 2010                                                                         12
01 October 2012                                                                   12
01 April 2014                                                                     12
01 March 2012                                                                     12
01 November 2007                                                                  11
01 September 2004                                                                 11
January 2011                                                                      11
01 February 2012                                                                  11
                                                                                ...
Courses start on September 1, 2009.                                                1
15 April 2009                                                                      1
1 December 2010 or earlier                                                         1
14 September 2009                                                                  1
10 June 2007                                                                       1
15 March 2009                                                                      1
01 May 2012                                                                        1
08 July 2013                                                                       1
10 July 2005                                                                       1
03 September 2012                                                                  1
12 December 2004                                                                   1
25 February 2013                                                                   1
June 2004                                                                          1
10 January 2014                                                                    1
20 February 2012                                                                   1
20 August 20006                                                                    1
02 November 2009                                                                   1
June/ July                                                                         1
28 November 2007                                                                   1
01 October  2005                                                                   1
As agreed with the trainer                                                         1
23 October 2014                                                                    1
Wednesday, 6 April 2011 at 10:00 a.m. (Registration\r\nstarts at 09:30 a.m.)       1
20 February 2013                                                                   1
March/ April 2014                                                                  1
June 2014 (expected)                                                               1
16 October 2006                                                                    1
13 May 2005, at 14.00                                                              1
14 July 2014                                                                       1
October 1, 2008                                                                    1
Name: StartDate, Length: 1140, dtype: int64

#### Test

In [81]:
for asap in asap_list:
    assert sum(df_clean.StartDate == asap) == 0